<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <label>Email Address:</label>
            </div>
            <div>
                <TelerikTextBox InputMode="email" @bind-Value="@EmailAddress.Address" Width="50%"></TelerikTextBox>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <label>Subject:</label>
            </div>
            <div>
                <TelerikTextBox @bind-Value="EmailMessage.Subject" Width="50%"></TelerikTextBox>
            </div>
        </div>
    </div>
    <EditForm Model="EmailMessage">
        <div class="row">
            <div class="col">
                <div>
                    <label>Email Message:</label>
                </div>
                <div>
                    <InputTextArea @bind-Value="EmailMessage.Content" @attributes="InputTextAreaAttributes"></InputTextArea>

                </div>
            </div>
        </div>
        <div class="email-button flex-row-reverse">
            <div>
                <TelerikButton ButtonType="ButtonType.Submit" Primary="true" OnClick="SendEmail">Send</TelerikButton>
            </div>
        </div>
    </EditForm>
    <div class="email-button flex-row-reverse">
        <div>
            <TelerikButton   OnClick="ReceiveEmail">Receive</TelerikButton>
        </div>
    </div>
</div>